<div>
    <h3>Hello,<%= current_user.email %></h3>
    <div>
        <%= link_to "My Page", user_path(current_user.id) %>
        <%= link_to "編集",edit_user_registration_path %>
        <%= link_to "ログアウト",destroy_user_session_path, method: :DELETE %>
        <%= link_to "Upload", new_album_path %>
    </div>
</div>

<hr>

<div>
    <div class="container">
        <% @albums.each do |album| %>
        <div class="album-container">
            <p style="font-size: 3em"><%= album.title %></p>
            <% album.images.each do |image| %>
                <%= render "image", image: image %>
            <% end %>
        </div>
        <hr>
    <% end %>
    </div>


    #Search
    <%= search_form_for @search, url: root_path do |f|%>
        <div class="field">
            <%= f.label :email_cont, "Mail" %>
            <%= f.text_field :email_cont %>
        </div>
        
        <div class="actions"> <%= f.submit "Search" %></div>
    <% end %>
    <table border="1px">
      <tr>
        <th>Mail</th>
      </tr>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email%></td>
        </tr>
    <% end %>
    <table>
</div>
