<div class="card card-body w-50 p-3">
  <h4 class="card-title">Sign Up</h4>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

  
    
    <div class="md-form">
      <label for="inputPlaceholderEx">Email</label>
      <%= f.email_field :email, autofocus: true, autocomplete: "Email",  class:"form-control" %>
    
    </div>
    
    
    <div class="md-form">
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
      <label for="form1" >Password</label>
    </div>
    
    <div class="md-form">
      <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control" %>
      <label for="form1" >Password Confirmation</label>
    </div>
    
    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>
  
  <%= render "devise/shared/links" %>
</div>
 
  



