<div class="card card-body w-75 p-3 mt-3">

  <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-orange active">
      <input type="radio" name="options" id="option1" value="album" autocomplete="on" checked>
        Upload Album
    </label>
    <label class="btn btn-orange">
      <input type="radio" name="options" id="option2" value="recipe" autocomplete="on">
      Upload Recipe
    </label>
  </div>

  <%= form_for(@album, html: {multipart: true}) do |f| %>
    <div class="md-form">
      <%= f.fields_for :images do |p| %>
        <div class="file-field">
          <div class="preview">
             <img src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg"
           class="img-fluid" alt="example placeholder" width="150px">
          </div>
         
          <div class="d-flex justify-content-center">
            <%= p.file_field :image_url, multiple: true,
              name: "images[image_url][]", class: "upload-image file-input mt-2"%>
          </div>
        </div>
      <% end %>
    </div>
    
    <div class="md-form">
      <%= f.text_field :title, class:"form-control" %>
      <label for="form1" >Title</label>
    </div>
    
    <div class="md-form">
      <%= f.text_area :content, class:"form-control" %>
      <label for="form1" >Content</label>
    </div>

    <div class="md-form recipe">
      <%= f.text_area :ingredient, class:"form-control" %>
      <label for="form1" >Ingredient</label>
    </div>

    <div class="md-form">
      <%= f.select :tag_id, Tag.all.collect {|p| [ p.title, p.id ] }, class:"form-control" %>
      <label for="form1" >Tag</label>
    </div>
    
    <div>
      <%= f.submit "SUBMIT", class: "actions btn btn-outline-warning btn-rounded album-submit" %>
    </div>
  <% end %>
</div>



<script>
  $(function(){
    $(".upload-image").on("change", function(){
      var preview = document.querySelector('.preview');
      preview.innerHTML = '';
      var files   = document.querySelector('input[type=file]').files;

      function readAndPreview(file) {

        if ( /\.(jpe?g|png|gif)$/i.test(file.name) ) {
          var reader = new FileReader();

          reader.addEventListener("load", function () {
            var image = new Image();
            image.height = 100;
            image.width = 150;
            image.title = file.name;
            image.src = this.result;
            preview.appendChild( image );
          }, false);

          reader.readAsDataURL(file);
        }

      }

      if (files) {
        [].forEach.call(files, readAndPreview);
      }
    })

  })
  $('.recipe').hide();
  $('.btn-group').on('click', function() {
    if($('input[name=options]:checked').val() == 'recipe') {
      $('.recipe').show();
    } else {
      $('.recipe').hide();
    };
  })
</script>