<div class="fixed-sidebar open">

	<div class="fixed-sidebar-left sidebar--large">
		<a href="<%= root_path%>" class="logo" style="background-color: #646B7C">
			<h6 class="logo-title text-center">FOODAHOLIC</h6>
		</a>

		<div class="mCustomScrollbar" data-mcs-theme="dark">
			<ul class="left-menu">
				        <% if user_signed_in? %>
        <li >
          <%= link_to current_user.email, user_path(current_user.id),
            class:"nav-link  " %>
        </li>
        
        <li >
          <%= link_to "My Profile", my_profile_path,
            class:"nav-link " %>
        </li>
          
        <li >
          <%= link_to "Log Out",destroy_user_session_path, method: :DELETE,
            class:"nav-link "%>
        </li>
            
            
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
           Upload
          </a>
          <div class="dropdown-menu dropdown-menu-top" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to "Album", new_album_path, class:"nav-link " %>
            <%= link_to "Recipe", new_album_path, class:"nav-link " %> 
          </div>
        </li>
            
        <% else %>
          <li>
          	<%= link_to "Sign In", new_user_session_path,
            class:"nav-link " %>
          </li>
          <li>
          	<%= link_to "Sign Up", new_user_registration_path,
            class:"nav-link " %>
          </li>
        <% end %>
			</ul>
		</div>
	</div>
</div>

<!-- ... end Fixed Sidebar Left -->