<div class="col-3 col-sm-2 col-md-2 col-lg-1 col-xl-1 border-right p-0 nav-left z-depth-1 nav">
  <ul class="flex-column lighten-3 py-4 mb-r font-weight-bold w-100 navbar-nav">
        <%= link_to root_path, class:"logo" do %>
          <img src="https://i.imgur.com/EJUxNMT.png" style="width: 150px; margin-left: -20px !important;">
        <% end %>
        
        <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to current_user.email, user_path(current_user.id),
            class:"nav-link waves-effect" %>
        </li>
        
        <li class="nav-item">
          <%= link_to "My Profile", my_profile_path,
            class:"nav-link waves-effect" %>
        </li>
          
        <li class="nav-item">
          <%= link_to "Log Out",destroy_user_session_path, method: :DELETE,
            class:"nav-link waves-effect"%>
        </li>
            
            
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
          Upload
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to "Album", new_album_path, class:"nav-link waves-effect" %>
            <%= link_to "Recipe", new_album_path, class:"nav-link waves-effect" %> 
          </div>
        </li>
            
        <% else %>
          <%= link_to "Sign In", new_user_session_path,
            class:"nav-link white-text waves-effect" %>
          <%= link_to "Sign Up", new_user_registration_path,
            class:"nav-link white-text waves-effect" %>
        <% end %>
    </nav>
</div>